.aboutBettingSlots {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 45px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.aboutBettingSlots .logo {
  width: 17%;
  margin-top: 5%;
  margin-bottom: 1%;
}
.aboutBettingSlots .info {
  margin-left: 2.2rem;
}
.gameName {
  font-size: 2.5rem;
  color: orange;
}
.aboutBettingSlots h4 {
  font-size: 1.8rem;
  color: orange;
  letter-spacing: 1px;
  margin-top: 1.5rem;
}
.aboutBettingSlots p {
  font-size: 1.4rem;
  margin-top: 0.5rem;
  color: rgb(117, 112, 112);
  letter-spacing: 2px;
}
.aboutBettingSlotsBackBtn {
  position: absolute;
  top: 25px;
  left: 30px;
  color: white;
  font-size: 3rem;
  background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
  padding: 4px 16px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  cursor: pointer;
}
