.loginContainer {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 45px;
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.loginBtn {
  background: rgb(17 24 39);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
  gap: 20px;
  font-size: 22px;
  font-weight: 600;
  border-radius: 14px;
}

.loginBtn svg {
  width: 48px;
}

.loginBtn:active {
  background: rgb(55 65 81);
}
