.privacy__container {
  position: relative;
  height: 100%;
  background-color: #fff;
  padding: 2rem 4rem;
  overflow-y: scroll;
  animation: title 0.7s linear;
  display: none;
}

.privacy__container::-webkit-scrollbar {
  width: 8px !important;
}

.privacy a {
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background: linear-gradient(to bottom, #ffe600, #ff7b01);
}

.privacy__container h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 1.5rem;
  background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes title {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(-10px);
  }
}

.privacy__container h2 {
  position: relative;
  font-size: 2rem;
  margin-bottom: 1rem;
  padding-top: 2rem;
  width: 100%;
  background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.privacy__container h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: black;
  left: 0;
  opacity: 0.1;
  top: 1rem;
}

.privacy__container p {
  font-size: 1.3rem;
  color: black;
  opacity: 0.8;
  letter-spacing: 0.5px;
  line-height: 1.8rem;
}

.privacy__container a {
  text-decoration: none;
  color: #4361ee;
  font-style: italic;
  transition: 0.3s all;
}

.privacy__container a:hover {
  text-decoration: underline;
  color: #ff7b01;
}

.privacy__container ul li {
  font-size: 1.3rem;
  color: #000b33;
  opacity: 0.8;
  letter-spacing: 0.5px;
  line-height: 1.8rem;
  padding-left: 1rem;
  margin-top: 0.5rem;
}

button {
  margin-bottom: 5rem;
  margin-top: 2rem;
  background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
  border: none;
  outline: none;
  color: #fff;
  padding: 0.8rem 2rem;
  border-radius: 8px;
  transition: 0.3s all;
}

button:active {
  transform: scale(0.9);
}

.privacyBackBtn {
  position: absolute;
  top: 33px;
  left: 60px;
  color: white;
  font-size: 2.5rem;
  background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
  padding: 4px 16px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  cursor: pointer;
}
