@import url(./reset.css);
@import url(./profileScreen.css);
@import url(./loading.css);
@import url(./welcome.css);
@import url(./leaderBoard.css);
@import url(./setting.css);
@import url(./inGameScreen.css);
@import url(./gameLoading.css);
@import url(./aboutBettingSlots.css);
@import url(./quitConfirm.css);
@import url(./privacy.css);
@import url(./loginContainer.css);
@import url(./userAgreements.css);
@import url(./dailyReward.css);
@import url(./weeklyRewards.css);
@import url(./dailyRewardsSpinHistory.css);

html {
  font-family: 'Mouse Memoirs', sans-serif;
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
}

.container {
  background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
  position: relative;
  width: 1000px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 32px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.game {
  width: 90%;
  height: 85%;
  background-color: #ff7b01;
  border-radius: 50px;
  border-top: 9px solid #ff7b01;
  border-bottom: 9px solid #ff7b01;
  border-left: 15px solid #ff7b01;
  border-right: 15px solid #ff7b01;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  overflow: hidden;
}

.left__circle {
  position: absolute;
  left: 12px;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  transform: translateY(-50%);
}

.right__circle {
  position: absolute;
  right: 12px;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  transform: translateY(-50%);
}

.left__circle i,
.right__circle i {
  font-size: 16px;
  color: rgb(253, 38, 38);
  position: relative;
  text-shadow: 0 0 0.5rem #fff, 0 0 1rem #fff, 0 0 1.5rem #fff,
    0 0 2.5rem rgb(253, 38, 38), 0 0 4rem rgb(253, 38, 38),
    0 0 5.5rem rgb(253, 38, 38), 0 0 6rem rgb(253, 38, 38),
    0 0 9rem rgb(253, 38, 38);
  animation: animate 4s ease infinite;
}

.left__circle i::after,
.right__circle i::after {
  content: '';
  position: absolute;
  border-right: 3px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 80%;
  height: 80%;
  right: 2px;
  top: 1px;
}

@keyframes animate {
  0% {
    color: rgb(253, 38, 38);
    text-shadow: 0 0 0.5rem #fff, 0 0 1rem #fff, 0 0 1.5rem #fff,
      0 0 2.5rem rgb(253, 38, 38), 0 0 4rem rgb(253, 38, 38),
      0 0 5.5rem rgb(253, 38, 38), 0 0 6rem rgb(253, 38, 38),
      0 0 9rem rgb(253, 38, 38);
  }
  45% {
    color: rgb(253, 38, 38);
    text-shadow: 0 0 0.5rem #fff, 0 0 1rem #fff, 0 0 1.5rem #fff,
      0 0 2.5rem rgb(253, 38, 38), 0 0 4rem rgb(253, 38, 38),
      0 0 5.5rem rgb(253, 38, 38), 0 0 6rem rgb(253, 38, 38),
      0 0 9rem rgb(253, 38, 38);
  }
  70% {
    color: #00ff2a;
    text-shadow: 0 0 5px #00ff2a, 0 0 10px #00ff2a, 0 0 15px #00ff2a,
      0 0 30px #00ff2a, 0 0 60px #00ff2a;
  }
  100% {
    color: #00ff2a;
    text-shadow: 0 0 5px #00ff2a, 0 0 10px #00ff2a, 0 0 15px #00ff2a,
      0 0 30px #00ff2a, 0 0 60px #00ff2a;
  }
}

.left__circle i:nth-child(1),
.right__circle i:nth-child(1) {
  animation-delay: 0s;
}
.left__circle i:nth-child(2),
.right__circle i:nth-child(2) {
  animation-delay: 0.3s;
}
.left__circle i:nth-child(3),
.right__circle i:nth-child(3) {
  animation-delay: 0.6s;
}
.left__circle i:nth-child(4),
.right__circle i:nth-child(4) {
  animation-delay: 0.9s;
}
.left__circle i:nth-child(5),
.right__circle i:nth-child(5) {
  animation-delay: 1.2s;
}
.left__circle i:nth-child(6),
.right__circle i:nth-child(6) {
  animation-delay: 1.5s;
}
.left__circle i:nth-child(7),
.right__circle i:nth-child(7) {
  animation-delay: 1.8s;
}

@media (min-width: 1400px) {
  html {
    font-size: 18px;
  }

  .container {
    width: 1200px;
    height: 700px;
  }

  .left__circle {
    left: 0.9rem;
  }

  .right__circle {
    right: 0.9rem;
  }

  .birdCircleImg {
    width: 70%;
  }
}
