@import url(./reset.css);
@import url(./aboutBettingSlots.css);

html {
  font-family: "Mouse Memoirs", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
}

.container {
  background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
  position: relative;
  width: 1000px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 32px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  overflow: hidden;
}

.game {
  width: 90%;
  height: 85%;
  background-color: #ff7b01;
  border-radius: 50px;
  border-top: 9px solid #ff7b01;
  border-bottom: 9px solid #ff7b01;
  border-left: 15px solid #ff7b01;
  border-right: 15px solid #ff7b01;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@media (min-width: 1400px) {
  html {
    font-size: 18px;
  }

  .container {
    width: 1200px;
    height: 700px;
  }

  .left__circle {
    left: 1.3rem;
  }

  .right__circle {
    right: 1.3rem;
  }
}
