.weeklyRewards {
  position: relative;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.weekely {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.weekely h1 {
  font-size: 2rem;
  background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.weeks {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.days {
  position: relative;
  color: white;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 130px;
  border-radius: 20px;
  background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
  gap: 0.5rem;
}
.days img {
  width: 50px;
}

.Progresscontainer {
  text-align: center;
}

.progress-bar-container {
  position: relative;
}

.progress-bar-container::before {
  content: '';
  position: absolute;
  background-color: yellow;
  height: 10px;
  width: 100%;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
}

#progress-bar {
  position: absolute;
  background-color: orange;
  height: 10px;
  width: 0%;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  transition: 0.3s ease;
}

.circles-container {
  z-index: 0;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  width: 400px;
}

.circles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  border: 2px solid orange;
  background-color: white;
  transition: 0.4s ease;
}

.circles h3 {
  /* position: absolute;
    left: 10%;
    top: 30%; */
  font-size: 16px;
  color: orange;
}

.circles.active {
  background-color: orange;
}

.circles.active h3 {
  color: var(--light-color);
}

.form-group {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.btnss {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3px;
  height: 50px;
  width: 100px;
  background-color: yellow;
  color: white;
  border-color: yellow;
  margin-right: 20px;
}

.btnss:hover {
  cursor: pointer;
  background-color: orange;
}

.btnss:disabled {
  cursor: not-allowed;
  background-color: gray;
  color: black;
  border-color: gray;
}

.btnss:active {
  transform: scale(0.95);
}

.btnss:focus {
  outline: none;
}

.plusClass {
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 130px;
  border-radius: 20px;
  background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
  gap: 0.5rem;
  animation: bounce2 2s ease infinite;
}
@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.plusClass img {
  width: 50px;
}
.dailyPrize {
  position: absolute;
  top: 40px;
  width: 150px;
  height: 150px;
  background-color: white;
  color: orange;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 23px;
  z-index: 1;
  border: 4px orange solid;
  animation: hithere 1s ease infinite;
}
@keyframes hithere {
  30% {
    transform: scale(1.2);
  }
  40%,
  60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.Tick {
  position: absolute;
  width: 20px !important;
  top: 0px;
  right: 5px;
}
